@charset "UTF-8";

@import "h5-reset.css";
@import "portrait.css";
@import "common.css";
@import "common-animation.css";
@import "tools.css";

/* 当前项目的css样式 */
h1 {
    color: blue;
}

section {
    width: 100%;
    height: 100%;
    position: absolute;
}

.logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: url("../images/logo.jpg");
}
