/*
    横屏时，显示cover的div，提示用户
*/

/* portrait竖屏 */
@media screen and (orientation: portrait) {
    .cover {
        display: none;
    }
}

/* landscape横屏 */
@media screen and (orientation: landscape) {
    .cover {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #666;
        z-index: 9999;
        top: 0;
        left: 0;
    }

    .cover span {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        line-height: 50px;
        margin-top: -25px;
        color: #fff;
        font-size: 30px;
        text-align: center;
    }
}
